﻿
@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{

    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
} 

<input type="hidden" id="hfPorcDescuento" />

<div class="row">

    <div class="col-12 col-md-8">

        <div class="card shadow-sm  my-2">
            <div class="card-body p-3">

                <div class="row">
                    <div class="col-sm-4 col-12">
                        <h6 class="card-title font-weight-bold text-primary">Detalle de la compra</h6>
                    </div>                    
                </div>

                <hr class="mt-1 mb-1" />

                <div class="row">

                    <div class="col-md-7 col-lg-8 col-8">
                        <div class="form-group col-6">
                            <label for="cmbProductos" class="control-label ">Producto</label>
                            @Html.DropDownList("cmbProductos", new SelectList(ViewBag.listProducts, "ID", "Descripcon"),
                            "Seleccione Opción", new { @class = "form-control " })                            
                        </div>
                    </div>                    

                </div>

                <div class="row">

                    <div class="col-sm-6 col-lg-4 col-6">
                        <div class="form-group row">
                            <label for="txtCantidad" class="control-label col-xl-4">Cantidad</label>
                            <div class="col-xl-8">
                                <input class="form-control" id="txtCantidad" type="number" min="1" name="txtCantidad">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-6">
                        <div class="form-group row">
                            <label for="txtPrecio" class="control-label col-xl-4">Precio</label>
                            <div class="col-xl-8">
                                <input class="form-control" id="txtPrecio" type="number" name="txtPrecio">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-6">
                        <div class="form-group row">
                            <label for="txtTotal" class="control-label col-xl-4">Total</label>
                            <div class="col-xl-8">
                                <input class="form-control" id="txtTotal" name="txtTotal" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-6 mt-1">
                        <div class="form-group d-sm-flex align-items-center justify-content-star">
                            <button class="btn btn-info btn-icon-split btn-md" id="btnAddProduct">
                                <span class="icon text-white-50">
                                    <i class="fas fa-cart-plus"></i>
                                </span>
                                <span class="text">Agregar</span>
                            </button>
                        </div>
                    </div>

                </div>

                <hr class="mt-1 mb-1" />

                <div class="form-row">

                    <div class="col-12">

                        <div class="table-responsive">

                            <table class="table dataTable display nowrap" id="tableDetalle">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">P.Unitario</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="items"></tbody>
                                <tfoot>
                                    <tr id="footer">
                                        <th scope="row" colspan="5">Carrito Vacío - Agregue Productos al Carrito!</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-md-4">

        <div class="card shadow-sm  my-2">
            <div class="card-body p-3">
                <h6 class="card-title font-weight-bold text-primary">Datos de la Compra</h6>

                <hr class="mt-1 mb-1" />

                <div class="row">

                    <div class="col-6 col-sm-6 col-md-12 col-xl-6">
                        <input type="text" id="numero" class="form-control" />
                    </div>


                    <div class="col-6 col-sm-6 col-md-12 col-xl-6">
                        <input type="text" id="nombreCliente" class="form-control" />
                    </div>
                    
                    <div class="col-6 col-sm-6 col-md-12 col-xl-6">
                        <button id="btnCerrarCompra" class="btn btn-primary btn-icon-split btn-md mb-2 mr-sm-2 mt-4">
                            <span class="icon text-white-50">
                                <i class="fas fa-save"></i>
                            </span>
                            <span class="text">Cerrar Venta</span>
                        </button>
                    </div>                   
                </div>
            </div>

        </div>

    </div>

</div>

<template id="template-carrito">
    <tr>
        <th scope="row" style="color:black;">ID</th>
        <td>Café</td>        
        <td class="text-center">10</td>
        <td class="text-right">C$500</td>        
        <td class="text-right">C$ 5000</td>
    </tr>
</template>

@section Scripts{

    <!-- Llamada hoja JavaScript con funcionalidades para la pagina -->
    <script src="~/js/Ventas.js"></script>

    <script type="text/javascript">
        
        jQuery(document).ready(function ($) {
            var $table1 = jQuery('#tableDetalle');

            //new $.fn.dataTable.Responsive($table1);

            $(".select2-drop, .select2-drop-mask").css("z-index", "99999");

        });
        
    </script>
    
}